/* Style the dropdown container */
.left-dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button */
.left-dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background: #333;
  font-family: inherit;
  margin: 0;
}

.left-dropbtn {
  cursor: pointer;
}

.left-dropdown:hover .left-dropbtn{
  color: rgb(175,175,175);
}

/* Style the dropdown content */
.left-dropdown-content {
  display: none;
  position: absolute;
  background: #efefef;
  color: #333;
  z-index: 1;
  text-align: center;
}

/* Style the dropdown links */
.left-dropdown-content a {
  float: none;
  color: #333;
  text-decoration: none;
  display: block;
  min-width: 130px;
}

/* Change color on hover for the dropdown links */
.left-dropdown-content a:hover {
  background: #00beae;
  color: white;
}

/* Show the dropdown content when the dropdown button is hovered over */
.left-dropdown:hover .left-dropdown-content {
  display: block;
}

.mens-dropright-content {
  background: #dcdcdc;
  color: #333;
  position: absolute;
  top: 0%;
  left: 100%;
  display: none
}

.mens-inner-dropdown:hover .mens-dropright-content {
  display: block;
}

.mens-inner-dropdown:hover .mens-matrix {
  background: #00beae;
  color: white;
}

.mens-dropright-content a:hover {
  background: #00beae;
  color: white;
}

.womens-dropright-content {
  background: #dcdcdc;
  color: #333;
  position: absolute;
  top: 50%;
  left: 100%;
  display: none
}

.womens-inner-dropdown:hover .womens-dropright-content {
  display: block;
}

.womens-inner-dropdown:hover .womens-matrix {
  background: #00beae;
  color: white;
}

.womens-dropright-content a:hover {
  background: #00beae;
  color: white;
}

.heading {
  color: #00beae;
}

.bottom_banner {
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: rgb(126, 126, 126);
  font-size: 15px;
  background-color: #333;
  width: 100%;
}

.bottom_banner_2 {
  font-size: 12px;
}

main {
  flex-grow: 1;
}

.dropbtn {
  background-color: rgb(166, 166, 166);
  color: rgb(0, 0, 0);
  padding: 12px;
  min-width: 60px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  text-align:right;
  background-color: #d9d9d9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #00beae;
  color:#ffffff
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #333;
  color:#ffffff
}

.dropdownButton {
	background:#d9d9d9;
	background-color:#d9d9d9;
	border-radius:0px;
	border:0px solid #030303;
	display:inline-block;
	cursor:pointer;
  min-width: 160px;
  text-align: right;
  font-size: 16px;
	color:#000000;
	padding: 12px 16px;
	text-decoration:none;
}
.dropdownButton:hover {
	background:#00beae;
	background-color:#00beae;
  color:#ffffff;
}

.topnav {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #00beae;
  color: white;
}

.topnav a.active:hover {
  color: #333;
}

.topnav-btn {
  color: #f2f2f2;
}

.topnav-btn:hover {
  color: rgb(175, 175, 175);
}

.dropdown-nav {
  float: right;
  overflow: hidden;
  margin-left: 0%;
}

.dropbtn-nav {
  cursor: pointer;
}

.dropdown-nav .dropbtn-nav {
  font-size: 17px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  min-width: 165px;
  background-color: #00beae;
  font-family: inherit;
  margin: 0;
}

.dropdown-nav:hover .dropbtn-nav {
  background-color: #00beae;
  color: #333;
}

.dropdown-content-nav {
  display: none;
  position: absolute;
  background-color: #efefef;
  min-width: 165px;
  z-index: 1;
}

.dropdown-content-nav a {
  float: none;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content-nav a:hover {
  background-color: rgb(201, 201, 201);
  color: white;
}

.dropdown-nav:hover .dropdown-content-nav {
  display: block;
}

.row:after {
  display: table;
  clear: both;
}

body {
  background-color: #eee;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}