.ML_random_button {
  margin-left: 0.5%;
  background:#00be9f;
  background-color:#00be9f;
  border-radius:50px;
  border:0px solid #030303;
  display:inline-block;
  cursor:pointer;
  min-width: 50px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color:#ffffff;
  padding: 12px 16px;
  text-decoration:none;
}

.random_button:hover {
  color:#333;
}

.caret:hover {
  color: #333;
}

.random_slider {
  display: none;
  position: absolute;
  width: 20%;
  min-width: 200px;
  background-color: #ddd;
  padding: 5px;
  left: 0;
  margin-top: 3px;
}

.range_container {
  width: 100%;
  display: flex;
  align-items: center;
}

.sliders_control {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 30px;
}

.random_min_slider::-webkit-slider-thumb, .random_max_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #00be9f;
  border-radius: 50%;
  cursor: pointer;
}

.random_min_slider::-webkit-slider-thumb, .random_max_slider::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #00be9f;
  border-radius: 50%;
  cursor: pointer;  
}

.form_control_container__time__input {
  color: #333;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
  min-width: 8%;
  text-align: center;
  background-color: #ddd;
}

.form_control_container__time__input::-webkit-inner-spin-button, 
.form_control_container__time__input::-webkit-outer-spin-button {  
   display: none;
}

.random_min_slider, .random_max_slider {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

/* Style the dropdown container */
.left-dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button */
.left-dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background: #333;
  font-family: inherit;
  margin: 0;
}

.left-dropdown:hover .left-dropbtn{
background-color: rgb(194, 194, 194);
color: #333;
}

/* Style the dropdown content */
.left-dropdown-content {
  display: none;
  position: absolute;
  background: #efefef;
  color: #333;
  z-index: 1;
  text-align: center;
}

/* Style the dropdown links */
.left-dropdown-content a {
  float: none;
  color: #333;
  text-decoration: none;
  display: block;
  min-width: 130px;
}

/* Change color on hover for the dropdown links */
.left-dropdown-content a:hover {
background: #00be9f;
color: white;
}

/* Show the dropdown content when the dropdown button is hovered over */
.left-dropdown:hover .left-dropdown-content {
  display: block;
}

.mens-dropright-content {
background: #dcdcdc;
color: #333;
position: absolute;
top: 0%;
left: 100%;
display: none
}

.mens-inner-dropdown:hover .mens-dropright-content {
display: block;
}

.mens-inner-dropdown:hover .mens-matrix {
background: #00be9f;
color: white;
}

.mens-dropright-content a:hover {
background: #00be9f;
color: white;
}

.womens-dropright-content {
background: #dcdcdc;
color: #333;
position: absolute;
top: 50%;
left: 100%;
display: none
}

.womens-inner-dropdown:hover .womens-dropright-content {
display: block;
}

.womens-inner-dropdown:hover .womens-matrix {
background: #00be9f;
color: white;
}

.womens-dropright-content a:hover {
background: #00be9f;
color: white;
}

.hidden_button{
  display: none;
}

.bottom_banner {
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  color: rgb(126, 126, 126);
  font-size: 15px;
  background-color: #333;
  width: 100%;
}

.bottom_banner_2 {
  font-size: 12px;
}

main {
  flex-grow: 1;
}

.selection_button {
	cursor:pointer;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
	color:#808080;
  background-color: transparent;
  border-color: transparent;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
}

.selection_button:hover {
  color:#333;
}

.num_input {
  background-color: transparent;
  border-color: transparent;
  max-width: 32px;
  font: 16px/20px 'Open Sans', Arial, sans-serif;
  color: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.give_me_space_2 {
  min-height:10px;
}

.ML_button {
  margin-left: 0.5%;
  background:#00be9f;
	background-color:#00be9f;
	border-radius:50px;
	border:0px solid #030303;
	display:inline-block;
	cursor:pointer;
  min-width: 50px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
	color:#ffffff;
	padding: 12px 16px;
	text-decoration:none;
}
.ML_button:hover {
  color:#333;
}

.simplify_button {
  margin-left: 0.5%;
  background:#333;
	background-color:#333;
	border-radius:50px;
	border:0px solid #030303;
	display:inline-block;
	cursor:pointer;
  min-width: 50px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
	color:#ffffff;
	padding: 12px 16px;
	text-decoration:none;
}
.simplify_button:hover {
  color:#00be9f;
}

.bracket_score {
  color: #00be9f;
  font-weight:bold;
  font-size: 20px;
}

.bracket_score_text {
  text-align: center;
  color: #333;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  min-height: 25%;
  font-weight:bold;
  font-size: 20px;
}

.national_champ {
  text-align: center;
  color: #333;
  font-weight:bold;
  font-size: 20px;
}

.national_champ_year {
  text-align: center;
  color: #333;
  font-weight:bold;
  font-size: 20px;
  display: none;
}

.dropbtn {
  background-color: rgb(166, 166, 166);
  color: rgb(0, 0, 0);
  padding: 12px;
  min-width: 60px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}

.dropdown {
  margin-right: 0.65%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  text-align:right;
  background-color: #d9d9d9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #00be9f;color:#ffffff}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #333;color:#ffffff}

.dropdownButton {
	background:#d9d9d9;
	background-color:#d9d9d9;
	border-radius:0px;
	border:0px solid #030303;
	display:inline-block;
	cursor:pointer;
  min-width: 160px;
  text-align: right;
  font-size: 16px;
	color:#000000;
	padding: 12px 16px;
	text-decoration:none;
}
.dropdownButton:hover {
	background:#00be9f;
	background-color:#00be9f;
  color:#ffffff;
}

.topnav {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #00be9f;
  color: white;
}

.topnav a.active:hover {
  color: #333;
}

.dropdown-nav {
  float: right;
  overflow: hidden;
  margin-left: 0%;
}

.dropdown-nav .dropbtn-nav {
  font-size: 17px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  min-width: 165px;
  background-color: #00be9f;
  font-family: inherit;
  margin: 0;
}

.dropdown-nav:hover .dropbtn-nav {
  background-color: #00be9f;
  color: #333;
}

.dropdown-content-nav {
  display: none;
  position: absolute;
  background-color: #efefef;
  min-width: 165px;
  z-index: 1;
}

.dropdown-content-nav a {
  float: none;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content-nav a:hover {
  background-color: #00be9f;
  color: white;
}

.dropdown-nav:hover .dropdown-content-nav {
  display: block;
}

.myButton {
	background:rgb(166, 166, 166);
	background-color:rgb(166, 166, 166);
	border-radius:0px;
	border:0px solid #030303;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:'Open Sans', Arial, sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.myButton:hover {
	background:#333;
	background-color:#333;
  color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}

.row {
    display: flex;
    clear: both;
}
.give_me_space {
    min-height:20px;
}
.run_button {
    padding: 3px 0;
    border: 3px solid #333;
    width: 50px;
    text-align: center;
}
.column_one {
  display: table-cell;
  float: left;
  width: 11.5vw;
  padding-left: 0.75vw;
  padding-right: 0.75vw;
}
.column_two {
  display: table-cell;
  float: left;
  width: 87vw;
  padding-left: 0vw;
  padding-right: 0vw;
  }
.slider-label {
    display: inline-block;
    width: 100px;
    text-align: left;
}
  
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #333;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Custom range slider thumb styling */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 5px;
  border-color:#333;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

/* Custom range slider thumb on hover */
.slider::-webkit-slider-thumb:hover {
  background: #00be9f;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  top: 2.5px;
  padding-left: 35px;
  margin-bottom: px;
  font: 16px/20px 'Open Sans', Arial, sans-serif;
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


body {
    background-color: #eee;
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  section {
    margin: 0 8px;
  }
  
  .header-text {
      color: white;
      background: linear-gradient(blue, navy);
      border: double 5px white;
      border-radius: 1em;
      text-align: center;
      padding: 5px 0;
  }
  .header-text h1, .header-text h6 {
      margin: 0;
  }
  .header-text h1 {
      font-size: 1.5em;
  }
  
  .tournament {
      display: flex;
      flex-direction: row;
  }
  .tournament .round {
    font-size: .75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    list-style: none;
    padding: 0;
  }
  .tournament .round .spacer {
    flex-grow: 2;
  }
  .tournament .round .spacer:first-child,
  .tournament .round .spacer:last-child {
    flex-grow: 1;
  }
  
  .first-four {
    border: 1px solid #888;
    border-radius: 1em;
    background-color: lightcyan;
    padding: 0 1em;
  }
  
  .first-four-winner li.game-left,
  .round-1 li.game-left,
  .round-2 li.game-left,
  .round-3 li.game-left,
  .round-4 li.game-left,
  .semi-final li.game-left {
      padding-left: 0.5em;
  }
  
  .first-four-winner li.game-right,
  .round-1 li.game-right,
  .round-2 li.game-right,
  .round-3 li.game-right,
  .round-4 li.game-right,
  .semi-final li.game-right {
      padding-right: 0.5em;
  }
  
  .region {
      font-size: 1.5em;
      font-weight:bold;
  }
  .region-right {
    text-align:right;
  }
  .region-left {
    text-align:left;
  }
  
  ul.seed li.game-left span:first-child,
  ul.seed li.game-right span:last-child {
      font-size: 0.5em;
  }
  
  li.game-right {
    text-align: right;
    border-left: 1px solid #aaa;
  }
  li.game-left {
      border-right: 1px solid #aaa;
  }
  li.game-bottom {
    border-bottom: 1px solid #aaa;
  }
  li.game-top {
    border: none;
    border-bottom: 1px solid #aaa;
  }
  li.game-left.spacer {
      border-right: 1px solid #aaa;
      min-height: 5px;
      padding-right:.25em;
  }
  li.game-left-half.spacer {
    border-right: 1px solid #aaa;
    max-height: 103px;
  }
  li.game-final.spacer {
    max-height: 0%;
    padding-right:.25em;
  } 
  li.game-right-half.spacer {
    border-left: 1px solid #aaa;
    max-height: 103px;
  }
  li.game-left-first.spacer {
    border-right: 1px solid #aaa;
    min-height: 2px;
    padding-right:.25em;
  } 
  li.game-right.spacer {
      border-left: 1px solid #aaa;
      min-height: 5px;
      padding-left:.25em;
  }
  li.game-right-first.spacer {
    border-left: 1px solid #aaa;
    min-height: 2px;
    padding-left:.25em;
  }

  .final {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid #aaa;
    font-weight:bold;
    font-size: 20px;
    min-height: 0%;
}

  .finals .centered {
      text-align:center;
      font-weight:bold;
  }
  .finals .centered > input {
      display:block;
      width:4em;
      margin: 0 auto 0 auto;
      text-align:center;
  }
  
  .body-first-child {
    margin-top: -45px;
  }
  .extra-padding {
    padding-top: 45px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    margin-left: 30px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /* Styles specifically for printing */
  @media print {

    @page {
      margin: 0.5cm;
    }

    .bottom_banner {
      display: none;
    }

    .selection_button {
      display: none;
    }

    .myButton {
      display: none;
    }

    .column_one {
      display: none;
    }

    .column_two {
      min-width: 100vw;
    }

    .ML_button {
      display: none;
    }

    .ML_random_button {
      display: none;
    }

    .simplify_button {
      display: none;
    }

    .dropdown {
      display: none;
    } 
    
    .bracket_score {
      display: none;
    }

    .bracket_score_text {
      display: none;
    }

    .national_champ {
      text-align: top;
    }

    .national_champ_year {
      text-align: top;
      display: inline;
      padding-top: 15vw;
    }

    body {
      font-size: 1.1vw; 
    }

  }